// Fonts
$main-font: "Ubuntu", "Arial", sans-serif;

// Colors
$color-main: #000000;
$color-white: #ffffff;
$color-violet: #9564aa;
$color-accent: #ffcf2d;
$color-premium:  #684677;
$color-stock : #c15ca1;
$color-dop-item: #aa6464;
